body{

}

#main-content{
    height: 100%;
}

#home1{
    height: 100vh;
    background: url('../pics/pic1.jpeg') no-repeat;
    background-size:100% 100%;
  
}

/* header nav*/
#header-nav{
    margin-left: 10px;
    margin-right: 10px;
}

/* toggler */
.custom-toggler {
    border-color: #ffffff;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand, .nav-link{
    color: #FFFFFF;
}

#home2{
    margin: 0px;
    height: 100vh;
    background-color: #c9c0bb;
}

.home2_content{
    margin-top: 25%;
}

#home2_pic{
    background: url('../pics/pic2.jpeg') no-repeat;
    margin-left: 20%;
    margin-right: 10px;
    height: 30vh;
    background-size:400px 300px;
    border-radius: 20px;
    
}

#home2_text{
    color: #191970;
    font-size: 30px;
    margin-left: 20%;
}