body{
    background-color: #F8F8FF;
    color: black;
    font-family: PlayFair;
    font-size: 36px;
}

#main-content{
    height: 100%;
    padding: 0px;
}

#home1_content{
    
}

#home1{
    background: url('../pics/pic1.jpeg') no-repeat;
    background-size: 100%;
    height: 100vh;
}

/* header nav*/
#header-nav{
    margin-left: 10px;
    margin-right: 10px;
}

/* toggler */
.custom-toggler {
    border-color: black;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.nav-link{
    color: black;
    font-size: 20px;
}

/* home2 */

#home2{
    margin: 0px;
    
}

.home2_content{
    align-content: center;
    
}

#home2_pic{
    background: url('../pics/pic2.jpeg') no-repeat;
    height: 40vh;
    background-size:100% auto;
    margin-top: 37%;
    margin-left: 10%;
    margin-right: 10%;
    
}

#home2_text{
    color: black;
    margin-top: 35%;
    margin-left: 20%;
    font-size: 36px;
}

#home2_text a:link{
    
}

/* home3 */

#home3{
    margin: 0px;
}

.home3_content{
    align-content: center;
}

#home3_pic{
    background: url('../pics/pic3.jpeg') no-repeat;
    height: 40vh;
    background-size:100% auto;
    margin-top: 42%;
    margin-left: 10%;
    margin-right: 10%;
}

#home3_text{
    color: black;
    margin-top: 35%;
    margin-left: 20%;
    font-size: 36px;
}

#home3_text a:link{
    
}