body{
    background-color: #F8F8FF;
    color: black;
    font-family: PlayFair;
    font-size: 36px;
}

/* navbar */
.navbar-style-init{
    padding-top:3%;
    padding-left: 1.5%;
    padding-right: 3%;
}

.navbar-style-scroll{
    padding-top:3%;
    padding-left: 1.5%;
    padding-right: 3%;
    opacity: 0.7;
    background-color: black;
}

.nav-link{
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.home-link{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#navbarNavAltMarkupP{
    width: 250px;
}

#rsvp-button{
    height: 70px;
    width: 110px;
    border:none;
    font-size: 18px;
    font-weight: bold;
}

.navbar-toggler{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-color: white;
    height: 50px;
    width: 50px;
}

/* main content */
#main-content{
    height: 100%;
    padding: 0px;
}

/* home1 */
#home1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    border-bottom: 4px solid black;
    color: white;
    text-align: center;
}

#home1_pic{
    background: url('../pics/pic1.jpeg') no-repeat;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#home1-content{
    padding-top: 20%;
    font-size: 36px;
    text-align: center;
}

/* home2 */
#home2{
    margin: 0px;  
}

.home2_content{
    align-content: center;
}

#home2_pic{
    background: url('../pics/ekklisia.jpg') no-repeat;
    height: 70vh;
    background-size:100% 100%;
    border: 4px solid black;
    margin-top: 17%;
    margin-left: 10%;    
}

#home2_text{
    text-align: center;
    color: black;
    margin-top: 45%;
    font-size: 24px;
}

/* home3 */
#home3{
    margin: 0px;
}

.home3_content{
    align-content: center;
}

#home3_pic{
    background: url('../pics/zattero.jpg') no-repeat;
    height: 80vh;
    background-size:100% 100%;
    border: 4px solid black;
    margin-top: 17%;
}

#home3_text{
    text-align: center;
    color: black;
    margin-top: 45%;
    font-size: 24px;
}

/* home4 */
#home4{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center; 
}

#home4-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-left: 3%;
    margin-right: 4.5%;
    flex: 1;
    border: none;
    height: 2px;
    background: black;
   
  }

#istoria-button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border:none;
    font-size: 18px;
    font-weight: bold;
}

/* home5 */
#home5{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 80vh;
    min-width: 80vh;
    margin-left: 3%;
    margin-right: 4.5%;
    color: white;
    padding-top: 4%;
    text-align: center;
}

#home5_pic{
    background: url('../pics/pic3.jpeg') no-repeat;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#rsvp-button2{
    height: 50px;
    width: 150px;
    border:none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
}

/* home6 */
.home6_I{
    color: black;
    font-size: 18px;
    margin-top: 5%;
    padding-left: 13%;
}

.home6_II{
    margin-top: 5%;
    text-align: center;
}

.home6_II > p{
    margin-bottom: 0;
    font-size: 18px;
}

.home6_II > p > a{
    color: black;
}

.home6_III{
    color: black;
    font-size: 18px;
    margin-top: 5%;
    padding-right: 13%;
    text-align: right;
}

.home7_I{
    color: black;
    font-size: 18px;
    margin-top: 5%;
    padding-left: 13%;
}

.home7_I > a{
    color: black;
}

.home7_II{
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
}

.home7_II > a{
    color: black;
}

.home7_III{
    color: black;
    font-size: 18px;
    margin-top: 5%;
    padding-right: 13%;
    text-align: right;
}

.home7_III > a{
    color: black;
}


/* media queries */
@media (min-width: 992px) {
    
}

